TZ=YOUR_TIMEZONE

PUID=YOUR_PUID
PGID=YOUR_PGID
RENDER_GID=YOUR_RENDER_GID
VIDEO_GID=YOUR_VIDEO_GID

APPDATA=your/appdata/dir
DATA_ROOT=your/media/dir

WIREGUARD_PRIVATE_KEY=PRIVATE_KEY
WIREGUARD_ADDRESSES=WIREGUARD_ADDRESS

QB_API_KEY=QBITTORRENT_API_KEY
